.section {
    width: 600px;
    max-height: 912px;
    margin-left: calc(280px + 60px);

}

.heading {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 24px;
    padding: 0;
}

.price {
    display: flex;
    flex-direction: row;
}

.item {
    max-width: 272px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredients {
    max-height: 716px;
    overflow: hidden;
    overflow-y: scroll;
    
}

.ingredients::-webkit-scrollbar {
    width: 8px;
}

.ingredients::-webkit-scrollbar-track {
    background: #2F2F37;  
    border-radius: 0; 
}

.ingredients::-webkit-scrollbar-thumb {
    background-color: #8585AD;  
    border-radius: 0;   
}