.section {
    width: 600px;
    max-height: 912px;
}

.heading {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.switcher {
    display: flex;
    margin-bottom: 40px;
}

.counter {
    display: none;
}

.ingredients {
    max-height: 716px;
    overflow: hidden;
    overflow-y: scroll; 
}

.ingredients::-webkit-scrollbar {
    width: 8px;
}

.ingredients::-webkit-scrollbar-track {
    background: #2F2F37;  
    border-radius: 0; 
    margin-bottom: 50px;
}

.ingredients::-webkit-scrollbar-thumb {
    background-color: #8585AD;  
    border-radius: 0;   
}
