.container {
    width: 640px;
    font-family: 'JetBrains_Mono';
    display: flex;
    flex-direction: column;
    color: #F2F2F3;
    margin: auto;
}

.orderNumber {
    font-family: 'Iceland';
    font-size: 28px;
    line-height: 24px;
    margin-top: 60px;
}

.orderContent {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 28px;
    margin-bottom: 8px;
}

.orderTitle {
    composes: orderContent ;
    align-items: flex-start;
}

.orderStatus {
    font-size: 16px;
    line-height: 24px;
    color: #00CCCC;
    align-items: flex-start;
    margin-top: 0;
}

.orderTime {
    font-size: 16px;
    line-height: 24px;
    color: #8585AD;
    margin: 0;
}

.orderInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
    margin-bottom: 40px;
    box-sizing: content-box;
}

.ingredientArea {
    max-height: 312px;
    overflow: hidden;
    overflow-y: scroll; 
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 40px;
}

.ingredientArea::-webkit-scrollbar {
    width: 8px;
    height: 256px;
}

.ingredientArea::-webkit-scrollbar-track {
    background: #2F2F37;  
    border-radius: 0; 
    height: 312px;
}

.ingredientArea::-webkit-scrollbar-thumb {
    background-color: #8585AD;  
    border-radius: 0;   
}

.orderIngredient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    padding-right: 24px;
}

.price {
    font-family: 'Iceland';
    font-size: 28px;
    margin: 0; 
}

.orderIngredientTitle {
    min-width: 320px;
}

.itemImage {
    background: #000000;
    border-radius: 100px;
    border: 2px solid;
    border-color: rgba(128, 26, 178, 1)
    rgba(76, 76, 255, 1);
    width: 64px;
    height: 64px;
    object-fit: cover;
}   

.span {
    font-family: 'Iceland';
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.orderprice {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.block {
    display: flex;
    flex-direction: row;
}
