.main {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    min-width: 640px;
    font-family: 'JetBrains_Mono';
    display: flex;
    flex-direction: column;
    color: #F2F2F3;
}

.orderNumber {
    font-family: 'Iceland';
    font-size: 28px;
    line-height: 24px;
    align-self: center;
    margin-top: 0;
}

.orderContent {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
}

.orderTitle {
    composes: orderContent ;
    align-items: flex-start;
}

.orderStatus {
    font-size: 16px;
    line-height: 24px;
    color: #00CCCC;
    align-items: flex-start;
    margin-top: 0;
}

.orderTime {
    font-size: 16px;
    line-height: 24px;
    color: #8585AD;
}

.orderInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
}

.ingredientArea {
    max-height: 256px;
    overflow: hidden;
    overflow-y: scroll; 
}

.ingredientArea::-webkit-scrollbar {
    width: 8px;
    height: 256px;
}

.ingredientArea::-webkit-scrollbar-track {
    background: #2F2F37;  
    border-radius: 0; 
    margin-bottom: 60px;
    height: 256px;
}

.ingredientArea::-webkit-scrollbar-thumb {
    background-color: #8585AD;  
    border-radius: 0;   
}

.orderIngredient {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    padding-right: 24px;
}

.price {
    font-family: 'Iceland';
    font-size: 28px;
    line-height: 24px;
}

.orderIngredientTitle {
    min-width: 414px;
}