.container {
    font-family: 'JetBrains_Mono';
    margin-top: 40px;
    margin-left: 340px;
    display: flex;
    flex-direction: row;
    gap: 60px;
}


.input {
    font-family: 'JetBrains_Mono';
    background: #2F2F37;
    border: 2px dashed #4C4CFF;
    border-radius: 40px;
    border-color: transparent;
    height: 62px;
    width: 480px;
}

.edit {
    background-image: url(../images/pan.svg);
    width: 19px;
    height: 19px;
    position: relative;
    top: -67px;
    left: 462px;
}

