.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains_Mono';
    position: relative;
}

.orderLine {
    width: 600px;
    max-height: 872px;
    overflow: hidden;
    overflow-y: scroll; 
    color: #F2F2F3;
    list-style-type: none;
    padding-left: 0;
}

.orderLine::-webkit-scrollbar {
    width: 8px;
    height: 812px;
}

.orderLine::-webkit-scrollbar-track {
    background: #2F2F37;  
    border-radius: 0; 
    margin-bottom: 60px;
    height: 812px;

}

.orderLine::-webkit-scrollbar-thumb {
    background-color: #8585AD;  
    border-radius: 0;   
}

.heading {
    font-size: 36px;
    line-height: 40px;
    min-width: 1240px;
}

.orderStatistics {
    display: flex;
    flex-direction: row;
}

.container {
    composes: orderStatistics;
    justify-content: center;
}

.statistics {
    max-width: 580px;
    display: flex;
    flex-direction: column;
}

.orderInfo {
    display: flex;
    flex-direction: column;
    width: 272px;
}

.title {
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
}

.orderNumbers {
    font-family: 'Iceland';
    font-size: 28px;
    line-height: 24px;
    color: #00CCCC;
    margin-top: 0;
    margin-bottom: 8px;
}

.orderNumbers_white {
    composes: orderNumbers;
    color: #F2F2F3;
}

.digits {
    text-shadow: 
    0px 0px 16px rgba(51, 51, 255, 0.25), 
    0px 0px 8px rgba(51, 51, 255, 0.25), 
    0px 4px 32px rgba(51, 51, 255, 0.5);
}

.list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 312px;
    width: 272px;
    box-sizing: border-box;
    column-count: 5;
    column-width: 60px;
    overflow: auto;
    overflow-x: scroll; 
}

.list::-webkit-scrollbar {
    height: 8px;
}

.list::-webkit-scrollbar-track {
    background: #2F2F37;  
    border-radius: 0; 
}

.list::-webkit-scrollbar-thumb {
    background-color: #8585AD;  
    border-radius: 0;   
}