.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains_Mono';
    position: relative;
}

.orderLine {
    min-width: 600px;
    max-height: 872px;
    overflow: hidden;
    overflow-y: scroll; 
    color: #F2F2F3;
}

.orderLine::-webkit-scrollbar {
    width: 8px;
    height: 812px;
}

.orderLine::-webkit-scrollbar-track {
    background: #2F2F37;  
    border-radius: 0; 
    margin-bottom: 60px;
    height: 812px;
}

.orderLine::-webkit-scrollbar-thumb {
    background-color: #8585AD;  
    border-radius: 0;   
}

.heading {
    font-size: 36px;
    line-height: 40px;
    min-width: 1240px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.orderItem {
    width: 584px;
    border-radius: 40px;
    background: #1C1C21;
    box-sizing: border-box;
    margin-right: 8px;
    text-decoration: none;
    color: #F2F2F3;
}

.orderDetails {
    composes: container;
    justify-content: space-between;
}

.orderNumber {
    font-family: 'Iceland';
    font-size: 28px;
    line-height: 24px;
    margin: 0;
}

.orderDate {
    font-size: 16px;
    line-height: 24px;
    color: #8585AD;
    margin: 0;
}

.orderTitle {
    font-size: 24px;
    line-height: 30px;
}

.orderInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.orderImage {
    max-width: 436px;
    margin: 0;
}

.orderPrice {
    max-width: 76px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
    font-family: 'Iceland';
    font-size: 28px;
    line-height: 24px;
}

.statistics {
    max-width: 580px;
    display: flex;
    flex-direction: column;
}

.oredsStatistics {
    display: flex;
    flex-direction: row;
}

.oredsInfo {
    display: flex;
    flex-direction: column;
    min-width: 272px;
}

.title {
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
}

.orderNumbers {
    font-family: 'Iceland';
    font-size: 28px;
    line-height: 24px;
    color: #00CCCC;
    margin-top: 0;
}

.orderNumbers_white {
    composes: orderNumbers;
    color: #F2F2F3;
}

.digits {
    text-shadow: 
    0px 0px 16px rgba(51, 51, 255, 0.25), 
    0px 0px 8px rgba(51, 51, 255, 0.25), 
    0px 4px 32px rgba(51, 51, 255, 0.5);
}