.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.orderLine {
    width: 600px;
    border: 1px solid red;

    overflow: hidden;
    overflow-y: scroll; 
}

.orderLine::-webkit-scrollbar {
    width: 8px;
}

.orderLine::-webkit-scrollbar-track {
    background: #2F2F37;  
    border-radius: 0; 
    margin-bottom: 50px;
}

.orderLine::-webkit-scrollbar-thumb {
    background-color: #8585AD;  
    border-radius: 0;   
}

.statistics {
    width: 600px;
    border: 1px solid red;
}

.heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #F2F2F3;
    width: 1240px;
    /* font-family: 'JetBrains Mono'; */
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.orderItem {
    width: 100%;
    border-radius: 40px;
    background: #1C1C21;
    box-sizing: border-box;
}

.orderDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
}

.orderNumber {
    font-size: 28px;
    line-height: 24px;
    margin: 0;
    font-family: 'Iceland';
}

.orderDate {
    /* font-family: 'JetBrains Mono'; */
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8585AD;
    margin: 0;
}

.orderTitle {
    /* font-family: 'JetBrains Mono'; */
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #F2F2F3;
}

.orderInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.orderImage {
    width: 436px;
    margin: 0;
}

.orederPrice {
    width: 76px;
}