.header {
    background-color: #1C1C21;
    width: 100%;
    min-height: 88px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    margin-right: 112px;
}

.buttonConstructor {
    display: flex;
    flex-direction: row;
    background-color: #1C1C21;
    border: none;
    cursor: pointer;
    color: #F2F2F3;
    border-radius: 40px;
}

.orderLine {
    composes: buttonConstructor;
}

.account {
    composes: buttonConstructor;
    margin-left: 289px;
}