.constructor {
    width: 100%;
    max-height: 656px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
}

.list {
    padding: 0;
    margin-bottom: 0;
}

 .constructor::-webkit-scrollbar {
    width: 8px;      
}

.constructor::-webkit-scrollbar-track {
    background: #2F2F37;  
    border-radius: 0; 
}

.constructor::-webkit-scrollbar-thumb {
    background-color: #8585AD;  
    border-radius: 0;   
} 

.overlay {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.priceTotal {
    min-width: 119px;
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
}

.button {
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
    border-radius: 64px;
    border: none;
    min-width: 215px;
    min-height: 64px;
    color: #F2F2F3;
    margin-right: 16px;
    cursor: pointer;
}